# Data Science Tools and Ecosystem

In this notebook, Data science tools and ecosystems are summarized.

Some of the popular languages that data scientists use are: 
1. Python 
2. R
3. Julia

Some of the commonly uses libraries used by data scientist include:
1. Pandas
2. scikitlearn
3. seaborn

| Data Science Tools |
|--------------------|
|R studio|
|Apache spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives:__
- List of popular languages for Data science
- List of popular libraries
- list of popular open source environments for data sciene
- Evaluating Expressions
- Creating Table in markdown